---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/api/v2/users.json?to=2018-12-24T23:59:59Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1005333.pt.86blha-hXFWq0MHVsAydfmK8H4AuhTh9W_bsQMxwVfn6EYvKM1t2-o16zvKLN_StlNFiJWSQNWO2SGuuYP3-1Q
      Harvest-Account-Id:
      - '623782'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app5
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"users":[
      {"id":2473334,"first_name":"Jose Luis","last_name":"Assadi","email":"jose.luis@platan.us","telephone":"","timezone":"Santiago","weekly_capacity":144000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2018-12-18T13:49:52Z","updated_at":"2018-12-18T13:52:57Z","default_hourly_rate":null,"cost_rate":null,"roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/big_ben.png?1545140992"},
      {"id":2473333,"first_name":"Andres","last_name":"Bannura","email":"andres.bannura@platan.us","telephone":"","timezone":"Santiago","weekly_capacity":144000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2018-12-18T13:49:52Z","updated_at":"2018-12-[...]
- request:
    method: get
    uri: https://api.harvestapp.com/api/v2/time_entries.json?to=2018-12-24T23:59:59Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1005333.pt.86blha-hXFWq0MHVsAydfmK8H4AuhTh9W_bsQMxwVfn6EYvKM1t2-o16zvKLN_StlNFiJWSQNWO2SGuuYP3-1Q
      Harvest-Account-Id:
      - '623782'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app10
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"time_entries":[
        {"id":690625309,"spent_date":"2017-10-20","hours":2.27,"notes":"Revisión de error de los días que no se han calculado las estadísticas.","is_locked":true,"locked_reason":"Item Archived","is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":true,"billable_rate":1.5,"cost_rate":null,"created_at":"2017-10-20T18:26:30Z","updated_at":"2017-11-02T16:23:32Z","user":{"id":1867169,"name":"José Lezama"},"client":{"id":5651582,"name":"Crystal Lagoons","currency":"CLF"},"project":{"id":14080493,"name":"Cleaning Tracker - Maintenance","code":""},"task":{"id":5991585,"name":"Project Management"},"user_assignment":{"id":134513240,"is_project_manager":false,"is_active":false,"budget":null,"created_at":"2017-10-03T11:30:08Z","updated_at":"2017-10-03T11:30:08Z","hourly_rate":null},"task_assignment":{"id":153242862,"billable":true,"is_active":true,"created_at":"2017-06-01T01:30:07Z","updated_at":"2017-06-01T01:30:07Z","hourly_rate":1.5,"budget":null},"invoice":null,"external_reference":null},
        {"id":916388277,"spent_date":"2018-12-24","hours":0.26,"notes":"Sprint","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":"2018-12-24T15:51:04Z","started_time":"12:51","ended_time":null,"is_running":true,"billable":true,"budgeted":false,"billable_rate":16.0,"cost_rate":null,"created_at":"2018-12-24T15:51:04Z","updated_at":"2018-12-24T15:51:04Z","user":{"id":2304725,"name":"Diego Fernández"},"client":{"id":6332949,"name":"Alisur","currenc[...]
